# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/domotique?schema=public"

# JWT
JWT_ACCESS_SECRET="your-super-secret-access-key-change-in-production-min-32-chars"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-change-in-production-min-32-chars"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"

# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL="http://localhost:8081"